<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head') -%>
</head>

<body>
  <header>
    <%- include('./partials/header') -%>
  </header>
  <p class="text-center">Welcome to ProductRUs</p>
  <footer>
    <%- include('./partials/footer') -%>
  </footer>
</body>

</html>
