<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/head') -%>
</head>

<body>
  <header>
    <%- include('./partials/header') -%>
  </header>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
  <form>
    <h1 class="h3 mb-3 fw-normal">Please Register Below</h1>
    <div class="form-floating">
      <input type="text" class="form-control" id="username" placeholder="Username">
      <label for="username">Username</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="firstname" placeholder="First Name">
      <label for="firstname">First Name</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="lastname" placeholder="Last Name">
      <label for="lastyname">Last Name</label>
    </div>
    <div class="form-floating">
      <input type="email" class="form-control" id="email" placeholder="name@example.com">
      <label for="email">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="password" placeholder="Password">
      <label for="password">Password</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="role" id="roleAdmin">
      <label class="form-check-label" for="roleAdmin">
        Administrator
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="role" id="roleCustomer">
      <label class="form-check-label" for="roleCustomer">
        Customer
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="role" id="roleEmployee" checked>
      <label class="form-check-label" for="roleEmployee">
        Employee
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
  </form>

</div>
</div>
</div>




  <footer>
    <%- include('./partials/footer') -%>
  </footer>
</body>

</html>
